*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgba(0,0,0, 0.50);
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  position: relative;
}

.table-cell {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #eee;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  font-size: 3.6rem;
  color: rgba(0, 0, 0, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.table-cell:hover {
  transform: scale(1.05);
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
}

.restart-button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
  color: #eee;

  cursor: pointer;
  transition: all 0.3s ease;
}

.restart-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transform: scale(1.1);
}

.win-message {
  font-size: 2rem;
  color: rgba(0,0,0, 0.75);
  transition: all 0.3s ease;
  /* display: none; */
  opacity: 0%;
}
.win-message span {
  color: #eee;
  font-weight: 600;
}

.win-cell {
  background-color: rgba(255, 255, 255, 0.5);
}
